<% provide :title, t(:login_title) %>
<div class="row">
  <div class="col-md-6">
    <%= link_to image_tag("login_left.png", class: "login_image_size"),
      root_path %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h1> <%= t :login_title %> </h1>
    <%= form_for :session, url: login_path do |f|%>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control my-width" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control my-width" %>
      <%= f.submit t(:login_title), class: "btn btn-primary my-width" %>
    <% end %>
    <h2 id="my-style-h2"> <%= link_to t(:signup_title), signup_path %></h2>
  </div>
</div>
