<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-primary center">
      <div class="panel-heading"><h1><%= t :profile_title %></h1></div>
      <div class="panel-body">
        <%= link_to avatar_for(current_user), current_user %>
        <h1 class="my-username"><%= link_to @user.name, @user %></h1>
        <% if current_user.is_user? @user%>
          <button type="button" class="btn btn-warning">
            <%= link_to t(:result_all), results_path, id: "word-header" %>
          </button>
        <% end %>
        <div class="border-top-style">
          <%= render "shared/follow"%>
        </div>
      </div>
    </div>
  </aside>
  <aside class="col-md-7 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="center"><%= @type_title %></h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <% @activities.each do |activity| %>
            <tr>
              <td>
                <b><%= @user.name %></b>
                <%= link_to activity.content, activity.link %>
                <%= "#{t :at} #{activity.created_at.
                  strftime(Settings.activity_time_format)}" %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="center"><%= will_paginate @activities %></div>
      </div>
    </div>
  </aside>
</div>
