<div class="row row-home-height">
  <div class="col-md-8 full-height">
    <marquee><%= t :intro %></marquee>
    <div class="panel panel-default panel-height-home">
      <div class="center panel-heading home-page-panel">
        <%= link_to t(:category), categories_path %>
      </div>
      <div class="panel-body">
        <%= render @categories %>
      </div>
      <div class="home-right-link">
        <%= link_to t(:see_more), categories_path %>
      </div>
    </div>
  </div>
  <div class="col-md-3 full-height left-border no-space-lesson-tab">
    <div class="panel panel-primary full-height scroll">
      <div class="center panel-heading home-height-panel">
        <p1 class="center" id="word-header"><%= t :lesson %></p1>
      </div>
      <div class="panel-body no-space-lesson-tab">
        <%= render partial: "shared/lesson", collection: @lessons %>
      </div>
      <div class="center">
        <%= will_paginate @lessons, page_links: false %>
      </div>
    </div>
  </div>
</div>
