<%= form_for [@category, @lesson] do |f| %>
  <%= f.hidden_field :category_id, value: @category.id %>
  <% @results.each_with_index do |result, index| %>
    <div class="panel panel-primary panel-body">
      <%= "#{index+1}:#{result.word.content}" %>
      <%= f.fields_for result do |r| %>
        <ul>
          <% word_answers = result.word.word_answers %>
          <% word_answers.each do |answer| %>
            <li class="radioGroup">
              <%= r.radio_button :id, answer.id, name: result.id %>
              <span><%= answer.content %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <% unless @lesson.is_completed %>
    <div class="my-margin-right">
      <%= f.submit t(:finish), class: "btn btn-danger",
        data: {confirm: t(:finish_sure)} %>
    </div>
    <div class="my-margin-right">
      <%= f.submit t(:save), class: "btn btn-primary",
        data: {confirm: t(:finish_sure)} %>
    </div>
  <% end %>
<% end %>
