<%= provide :title, t(:lesson) %>
<div class="row">
  <aside class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="center" id="word-header"><%= t :lesson %></h2>
      </div>
      <div class="panel-body center">
        <p class="num_answers inline-display">
          <%= "#{Settings.default_num_answer}" %>
        </p>
        <p class="inline-display">
          <%= "/#{Settings.take_num_lesson}" %>
        </p>
      </div>
    </div>
  </aside>
  <aside class="col-md-8 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="center" id="word-header"><%= t :test %></h2>
      </div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
  </aside>
</div>
