<% provide :title, t(:categories_title) %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="panel-title pull-left category-header">
        <%= t :categories_header %></div>
    </div>
    <div class="row row-menu">
      <div class="col-md-3">
        <%= link_to t(:nothing), "data-toggle": "modal",
          "data-target": "#newCategoryModal", class: "previous link-create" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t :create_category %>
        <% end %>
      </div>
      <div class="col-md-2 col-delete-multiple">
        <%= form_tag admin_category_path(0),
          method: :delete, id: "formDeleteMultipleWord" do %>
          <i class="glyphicon glyphicon-trash"></i>
          <%= link_to t(:delete_multiple), "#",
            id: "btnDeleteMultipleWord", class: "previous" %>
       </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover text-center"
      id="tableCategoriesResult">
      <tr id="tableHeading">
        <th></th>
        <th class="text-center"><%= t :name %></th>
        <th class="text-center"><%= t :description %></th>
        <th class="text-center"><%= t :number_of_words %></th>
      </tr>

      <% @categories.each do |category| %>
        <tr id="<%= category.id %>">
          <td class="col-md-1"><%= check_box_tag "category_ids[]",
            category.id, false %></td>
          <%= hidden_field_tag "id", category.id %>
          <td class="col-md-2" id="name">
            <%= link_to category.name, admin_category_words_path(category) %>
          </td>
          <td class="col-md-3" id="description">
            <%= category.description %>
          </td>
          <td class="col-md-5"><%= category.words.size %></td>
          <td>
            <%= link_to [:admin, category], "data-toggle": "tooltip",
              title: t(:edit), "data-toggle": "modal", "data-target":
              "#editCategoryModal", "data-id": category.id do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to [:admin, category], method: :delete,
              "data-toggle": "tooltip", title: t(:edit),
              data: {confirm: t(:are_you_sure)}, name: "category_ids[]",
              value: category.id do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>
<%= will_paginate %>
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog"
  aria-labelledby="newCategoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="newCategoryModalLabel">
          <%= t :create_category %>
        </h4>
      </div>
      <div class="modal-body">
        <%= render "create_form", buttonLabel:
          t(:create_category),  modal: true %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog"
  aria-labelledby="editCategoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editCategoryModalLabel">
          <%= t :edit_category %>
        </h4>
      </div>
      <div class="modal-body">
        <%= render "create_form", buttonLabel: t(:update_button), modal: true %>
      </div>
    </div>
  </div>
</div>
