<% provide :title, t(:categories_title) %>
<h3><%= t :categories_header %></h3>
<table class="table table-bordered table-hover text-center">
  <tr>
    <th class="text-center"><%= t :name %></th>
    <th class="text-center"><%= t :description %></th>
    <th class="text-center"><%= t :number_of_words %></th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= category.words.count %></td>
      <td>
        <%= link_to [:admin, category] do %>
          <i class="glyphicon glyphicon-pencil"><%= t :edit %></i>
        <% end %>
      </td>
      <td>
        <%= link_to [:admin, category], method: :delete,
          data: {confirm: t(:are_you_sure)} do %>
          <i class="glyphicon glyphicon-trash"><%= t :delete %></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
