<% provide :title, @category.name %>
<div class="row">
  <aside class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="center" id="word-header"><%= t :create_lesson %></h2>
      </div>
      <div class="panel-body center">
        <button type="button" class="btn btn-warning">
          <%= link_to t(:start), lessons_path(lesson:
            {category_id: @category.id, is_completed: false,
            user_id: current_user.id}), method: :post, id: "word-header" %>
        </button><br>
      </div>
    </div>
  </aside>
  <aside class="col-md-1"></aside>
  <aside class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="center" id="word-header"><%= @category.name %></h2>
      </div>
      <div class="panel-body">
        <p class="divide"><%= @category.description %></p>
        <button type="button" class="btn btn-warning btn-width-lesson">
          <%= link_to t(:see_word_list), category_words_path(@category),
            id: "word-header" %>
        </button><br>
        <button type="button" class="btn btn-warning btn-width-lesson">
          <%= link_to t(:see_lesson_list), category_lessons_path(@category),
            id: "word-header" %>
        </button>
      </div>
    </div>
  </aside>
</div>
