<header class="navbar navbar-fixed-top navbar-inverse">
  <div id="my-header-color">
    <div class="container my-header">
      <div class="header-logo">
        <%= link_to image_tag("logo_framgia.png", class: "header-logo-size"),
          root_path %>
      </div>
      <%= link_to image_tag("2i.jpg", class: "header-bar-size"),
        root_path, id: "item-headerl" %>
      <%= link_to image_tag("3i.jpg", class: "header-bar-size"),
        root_path, id: "item-headerm" %>
      <%= link_to image_tag("1i.jpg", class: "header-bar-size"),
        root_path, id: "item-headerr" %>
    </div>
  </div>
  <div id="my-background-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to t(:home_title), home_path,
                id: "word-header" %></li>
              <li><%= link_to t(:help_title), help_path,
                id: "word-header" %></li>
              <% if logged_in? %>
                <li><%= link_to t(:user_title), users_path,
                  id: "word-header" %></li>
                <li class="dropdown">
                  <%= link_to t(:account_title), "#", "data-toggle": "dropdown",
                    class: "dropdown-toggle", id: "word-header" %>
                  <ul class="dropdown-menu">
                    <li><%= link_to t(:profile_title), current_user %></li>
                    <li>
                      <%= link_to t(:setting_title),
                        edit_user_path(current_user) %>
                    </li>
                    <li class="divider"></li>
                    <li> <%= link_to t(:logout_title), logout_path,
                      method: "delete" %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to t(:login_title), login_path,
                  id: "word-header" %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
